body{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}
header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    position: sticky;
    background-color: black;
    
}
#logo{
   

}

#nav-bar ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

#nav-bar li{
    margin-left: 20px;
    text-decoration: none;
}

.nav-decoration{
    text-decoration: none;
    color: orange;
}